<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GeoInfo</title>
    <script src="https://code.jquery.com/jquery-1.11.3.min.js" ></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}" />
</head>
<body>
    <div class="navbar navbar-default" role="presentation">
    </div>
    <div class="body container-fluid">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>IP</th>
                        <th>Country</th>
                        <th>User Agent</th>
                        <th>Headers</th>
                        <th>Date</th>
                        <th>Time</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in geo_info %}
                        <tr>
                            <td>{{ item.ip }}</td>
                            <td>{{ item.country }}</td>
                            <td>{{ item.user_agent }}</td>
                            <td>{{ item.headers }}</td>
                            <td>{{ item.date|date:"d/m/y" }}</td>
                            <td>{{ item.date.time }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <a class="btn btn-default" data-toggle="modal" href="#delData">Delete old data</a>
    </div>
    <div class="panel-footer">
        <footer>
            {% now "Y" %}
        </footer>
    </div>

    <div id="delData" class="modal fade" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">x</button>
                    <h4>Choose period in days</h4>

                </div>
                <form action="{% url 'geo_info:delete_data' %}" method="post">
                    <div class="modal-body">
                        {% csrf_token %}
                        <label class="inline">Days:</label>
                        <input name="days" class="inline form-control" type="number" value="0" id="days" min="0"/>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-default" value="Delete" />
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>
</html>